<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen"/>
      <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen"/>
      <link rel="stylesheet" type="text/css" href="stylesheets/custom.css" media="screen"/>
      <style>
          img {
              margin: 1em 0;
              display: block;
          }

          hr {
              margin: 3em 0;
          }
      </style>
      <title>Techbot.github.io by Techbot</title>
  </head>
  <body>

    <!-- {% include header.html %} -->

    <section class="projects">
      <a class="section-title" name="projects"><h2>Web Design & Development Projects</h2></a>

      <div class="container grid">

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/commondesign.png">
          <div class="description">
            <h2>Design system for suite of Humanitarian websites</a></h2>
            <a href="https://web.brand.unocha.org/demo" target="_blank" class="btn btn-demo"><span class="icon"></span>View demo</a>
            <p>Drupal base theme and sub theme with single directory components providing visual, UI and code consistency across a range of websites.
            </p>
            <!-- <p>
              <a href="http://emc23.com/blog/" target="_blank">More on our blog</a>
            </p> -->
          </div>
        </div>

        <div class="grid-item special">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/unocha.png">
          <div class="description">
            <h2>Drupal site builds for UNOCHA</h2>
            <a href="https://unocha.org" target="_blank" class="btn btn-demo"><span class="icon"></span>View website</a>
            <p>Drupal 9 and 10 site builds and upgrades. Theming from designs, project planning, documentation and training, testing, deployment, code reviews, maintenance, and ongoing feature development.
            </p>
            <!-- <p>
              <a href="http://emc23.com/blog/" target="_blank">More on our blog</a>
            </p> -->
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/audits.png">
          <div class="description">
            <h2>
              Accessibility and Performance Advocacy
            </h2>
            <p>
              Testing, data gathering, reporting and remediation. Data-driven performance and accessibility improvements.
            </p>
            <!-- <p>
              <a href="http://emc23.com/blog/" target="_blank">More on our blog</a>
            </p> -->
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/whd2022.png">
          <div class="description">
            <h2>
              Site build and theme for UNOCHA World Humanitarian Day 2022
            </h2>
            <p>
              <a href="https://2022.worldhumanitarianday.org" target="_blank" class="btn btn-demo"><span class="icon"></span>View website</a>
            </p>
          </div>
        </div>

        <div class="grid-item">
          <img
            src="https://www.emc23.com/sites/default/files/images/techbot.io/itext.png">
          <div class="description">
            <h2>
              Drupal site builds, frontend development, and ecommerce
            </h2>
            <p>
            </p>
          </div>
        </div>

        <div class="grid-item special">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/game.png">
          <div class="description">
            <h2>
              <a href="https://github.com/Techbot/JiGS" target="_blank">JiGS Interactive Game System</a>
            </h2>
            <h3>The Drupal MMORPG and Trading Game engine</h3>
            <a href="https://eclecticmeme.com" target="_blank" class="btn btn-demo"><span class="icon"></span>Visit game</a>
            <p>The Eclectic Meme Conspiracy Online (EMC Online) is an online, persistent, 2d, tiled, RPG, multiplayer, virtual world set in a post-apocalyptic/cyberpunk world some 50 to 100 years after a civilisation-ending war between humans, superheroes, and AI.
            </p>
            <p>JiGS is an integrated gaming system (client and server) built for and in tandem with EMC Online. <a href="https://github.com/EMC23/JiGS-PHP-RPG-engine/blob/master/README.md" target="_blank">View Design Document</a>
            </p>
            <p>
              <a href="https://www.emc23.com/jigs-drupal-mmorpg-and-trading-game-engine" target="_blank">More on our blog</a>
            </p>
          </div>
        </div>

        <div class="grid-item">
          <img
            src="https://www.emc23.com/sites/default/files/images/techbot.io/plates/consumer.gif">
          <div class="description">
            <h2>PhaserJs Game Design and Development</h2>
            <a href="http://techbot.github.io/projects" class="btn btn-demo"><span class="icon"></span>View examples</a>
            <p>
              Interactions, cut scenes and mini games using PhaserJS.
            </p>
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/umami-ember-homepage.png">
          <div class="description">
            <h2><a href="https://github.com/contentacms/contenta_ember" target="_blank">Umami Headless Drupal with Contenta CMS, EmberJs</a></h2>
            <!-- <a href="http://umami.emc23.com/" target="_blank" class="btn btn-demo"><span class="icon"></span>View demo</a> -->
            <p>The task was to create the Umami Drupal OOTB designs using ContentaCMS as the data enpoint, in whatever consumer "flavour" takes your fancy. We chose EmberJs.
            </p>
            <!-- <p>
              <a href="http://emc23.com/blog/headless-drupal-emberjs-and-contenta-cms" target="_blank">More on our blog</a>
            </p> -->
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/feu-concept-speakers.png">
          <div class="description">
            <h2>Web design ideas for Frontend United 2018</h2>
            <a href="http://emc23.com/feu/_index.html" target="_blank" class="btn btn-demo"><span class="icon"></span>View demo</a>
            <p>
              Web design ideas delivered in HTML/CSS for implementation in Drupal 8 by other volunteers for <a href="https://www.frontendunited.org/" target="_blank">Frontend United 2018</a> in Utrecht.
            </p>
            <!-- <p>
              <a href="http://emc23.com/blog/frontend-united-2018-utrecht" target="_blank">More on our blog</a>
            </p> -->
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/cmc-concepts.png">
          <div class="description">
            <h2>
              Design process</h2>
            <h3>
              Lo-fi wireframes, navigation design, component style tile, high fidelity graphic page design, and Drupal 7 theme</h3>
            <a href="http://cmc.ie/" target="_blank" class="btn btn-demo"><span class="icon"></span>View website</a>
            <p>
            </p>
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/patternlab.png">
          <div class="description">
            <h2>
              Design-in-the-browser</h2>
            <h3>
              Patternlab integration, Drupal 8 implementation for website redesign</h3>
            <p>
            </p>
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/living-styleguide.png">
          <div class="description">
            <h2>
              Living Styleguide</h2>
            <h3>
              KSSnode styleguide and Drupal 8 OpenSocial integration</h3>
            <p><a href="https://www.getopensocial.com/blog/open-source-technology/creating-living-style-guide-open-social" target="_blank">More on OpenSocial blog</a>
          </div>
        </div>

        <div class="grid-item">
          <img src="https://www.emc23.com/sites/default/files/images/techbot.io/hospital-wayfinder.png">
          <div class="description">
            <h2>
              Design concepts</h2>
            <h3>
              High fidelity graphic mock ups for Hospital website tender, intended to be built in Drupal 7. Desktop and mobile homepage, and wayfinder app concept</h3>
            <p>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- {% include footer.html %} -->

  </body>
</html>
